
<div class="competition-promo vpad--xxxl bv-parallax" style="background-image: url('{{site.img}}/content/airfrance/hero.jpg'); background-size: cover; background-position: center; border-top: 6px solid #bc002d;">

  <div class="container container--xxl">
    <div class="text--center text--white">
      <h2 class="title title--xxl text--bold">Japan mit Air France bereisen</h2>
      <div class="space--xxs"></div>
      <p class="text--xxxl text--normal vpad--xs">Willkommen an Bord</p>
      <div class="space--lg"></div>
      <a href="{{site.baseurl}}/airfrance" class="btn btn--solid">Jetzt teilnehmen</a>
    </div>
  </div>

</div>
