---
layout: default
id: overview
nav: true
nav-order: 1
nav-title: Überblick
title: Japan

banner:
  title-sup:
  title: Japan


intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud "



---



{% include page/intro.html %}


<!---- Regions ----->



<div class="container vpad--xxl">
  <h3 class="title title--lg text--center text--bold bv-divider">Unsere Highlights</h3>
  <div class="space--xl"></div>
  <div class="row row--xl-4-4-4">
    {% for section in site.data[page.id] %}
       <div class="col {% if section.id <= 4 %} col--6{% endif %}">

      <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/highlight{{section.id}}.jpg');">
         <a href="javascript:void(0);" data-modal-item="{{section.id}}" data-modal-group="section" class="js-open-modal bg-img__link"></a>

          <div class="bg-img__content">
            <div class="title title--lg text--italic text--light">{{section.id}}.</div>
            <div class="space--xxs">   </div>
            <div class="title title--md">{{section.title}}</div>
          </div>
          <div class="bg-img__bg-overlay text--white text text--sm"></div>
        </div>

      </div>


    {% endfor %}
  </div>
</div>
