---
layout: default
id: competition
title: Gewinn&shy;spiel
nav: true
nav-order: 4
nav-title: Gewinnspiel

banner:
  title: Gewinnspiel
  title-sub: Gewinnen Sie eine Fotoreise nach Finnland – mit Ihrer eigenen Nikon Kamera.

intro: >
  <p class="text--lg bv-mob-left">Begeben Sie sich auf ein einmaliges Abenteuer in die wilde Natur Finnlands inkl. Flügen und Hotel und verwandeln Sie mit der Nikon D3500 atemberaubende Momente in bildgewaltige Fotoaufnahmen für die&nbsp;Ewigkeit. </p>
  <div class="space--xl"></div>
  <a href="#enter" class="btn btn--vf-blue btn--lg ">Jetzt teilnehmen</a>

prizes:

  - id: journey
    title: Erleben Sie eine Fotoreise nach Finnland
    content: >
      <p>Überwältigende Natur, endlose Weiten und spektakuläre Fotomotive erwarten Sie im hohen Norden Finnlands. Verbringen Sie 2 Übernachtungen für 2 Personen im Hotel RukaVillage30 inklusive Flügen, Frühstück und Aktivitäten vor Ort. Mit einem persönlichen Guide entdecken Sie beim Riverfloating und einer Wanderung spektakuläre Naturkulissen. Je nach Jahreszeit erwarten Sie zudem 2 Skipässe inklusive Ski-Leihausrüstung (Winter) oder 2 Tickets für eine malerische Gondelbahnfahrt (Sommer).</p>
    enter-cta: Jetzt teilnehmen

  - id: nikon
    title: Professionelle Fotos auf Ihrer Reise
    content: >
      <p>Ihre perfekte Reisebegleitung: Das Kamera-Kit Nikon D3500 mit dem Zoomobjektiv AF-P DX NIKKOR 18–55 mm VR. Das Objektiv brilliert mit einer schnellen wie laufruhigen Fokussierung und der DX-Format-Sensor fängt mit 24,2 Megapixeln auch bei schwachem Licht detailreiche Fotos und Full-HD-Filme ein. Die große Akkukapazität garantiert zuverlässige Leistung an langen Outdoor-Tagen und ein tiefer Griff sorgt für besten Halt bei jeder Aufnahme. </p>
    enter-cta: Jetzt teilnehmen
    external-cta: Mehr erfahren
    external-link: "http://bit.ly/2F1HeGu"


---



<div class="bg--grey-darker">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>

<div class="container container--100 container--no-padding row row--constant-4-4-4 row--no-gutters">
  <div class="col bg-img bg-img--1-1 bg-img--xxl-16-9" style="background-image: url({{site.img}}/content/competition/01.jpg);"></div>
  <div class="col bg-img bg-img--1-1 bg-img--xxl-16-9" style="background-image: url({{site.img}}/content/competition/02.jpg);"></div>
  <div class="col bg-img bg-img--1-1 bg-img--xxl-16-9" style="background-image: url({{site.img}}/content/competition/03.jpg);"></div>
</div>



<div class="bg--grey-darker">
  <div class="container vpad--xxl">
    {% for prize in page.prizes %}
    <div class="bob  {% cycle "", " bob--swap" %} vpad--lg">
      <div class="bob__img">
        <a href="#enter"  class="bg-img bg-img--4-3" style="background-image:url({{site.img}}/content/competition/prize-{{prize.id}}.jpg);" ></a>
      </div>
      <div class="bob__text">
        <h3 class="title title--md bv-divider text--bold">{{prize.title}}</h3>
        {{prize.content}}
        <div class="space--lg"></div>
        <a href="#enter" class="btn btn--vf-blue">{{prize.enter-cta}}</a>
        {% if prize.external-cta %}
          <a href="{{prize.external-link}}" target="_blank" class="btn btn--outline btn--outline-white" style="">{{prize.external-cta}}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<!-- Competition Form ---->

<div class="bg--black">
  <div class="container container--xl text--center vpad--xxl">
    <div class="wp" id="enter"></div>
    <h3 class="title title--md text--bold bv-divider">Nehmen Sie <br>jetzt am Gewinnspiel teil</h3>
    <div class="space--lg"></div>
    <iframe scrolling="no" class="competition__form" src="https://news.secretescapes.de/mediasales_competition_finnland_nov2018/" width="100%" height="500" frameborder="0"></iframe>
  </div>
</div>
