---
layout: default
id: airfrance
title: Air France
nav: true
nav-order: 5
nav-title: Air France


camera:
  model: NIKON Z7
  description: "Wenn Sie einen zuverlässigen Partner für aufregende Reiseabenteuer suchen, ist die NIKON Z7 genau die richtige Kamera für Sie. Handlich durch ihr kompaktes Gehäuse, lichtstärker als jedes andere Vollformatsystem durch ihr großes Bajonett sowie erstklassige Objektive und nicht zimperlich dank ihrer robusten Bauweise – bessere Voraussetzungen bringt keine andere Systemkamera mit. Ganz ohne Spiegel schenkt Ihnen die Z7 hochauflösende Aufnahmen, die auch bei hohen ISO-Werten mit geringem Bildrauschen beeindrucken. Ob intelligenter Autofokus oder präzise Einstellung ganz nach Ihren Wünschen – das Ergebnis wird Sie nicht enttäuschen."


banner:
  title-sup:
  title:  Air France
  title-sub:

intro: >
  <p class="text--xl text--bold bv-mob-left">Unvergessliche Aufnahmen mit der NIKON Z7.</p>
  <div class="space--xs"></div>
  <p class="text--lg bv-mob-left">Wir haben für Sie den erfahrenen <a href="http://bit.ly/2QfpE2P" class="bv-link-nikon" target='_blank'>NIKON Fotograf André</a> nach Finnland geschickt, um die besten Motive dieses faszinierenden Landes für Sie festzuhalten. Mit seiner NIKON Z7 hat er im September 2018 Finnlands atemberaubende Natur, wilde Tiere und außergewöhnliche Städte eingefangen. Folgen Sie ihm auf eine ereignisreiche Reise voll reiner Sinneseindrücke und erinnerungswürdiger&nbsp;Begegnungen.</p>



section:

  title: Andrés Lieblingsobjektive
  id: lenses
  intro: >
    <p class="text--lg">Machen Sie mit der großen Palette der NIKKOR-Objektive aus beeindruckenden Augenblicken perfekte Fotos von Sehenswürdigkeiten und Landschaften. Ob Sie auf Fernreisen oder nahe der Heimat fotografieren, in jedem Fall benötigen Sie ein leichtes und flexibles Objektiv, damit Sie unabhängig vom Motiv jederzeit aufnahmebereit sind. André verrät uns mit welchen Objektiven er am liebsten unterwegs ist.</p>

lenses:

    - title: NIKKOR Z 35 mm 1:1,8 S
      id: NIKKOR-Z35
      content: '„Das neue NIKKOR Z 35 mm 1:1,8 S hat mir in Finnland am meisten Freude bereitet. Die klassische Perspektive & Bildausschnitt der Festbrennweite ist perfekt für jede Situation unterwegs. Das Objektiv gibt mir die Freiheit aus weiter Ferne die Szenerie zu fotografieren oder auch mal näher ans Geschehen heran zu gehen und Detailaufnahmen zu machen“, berichtet André. Der besonders große Durchmesser des Nikon-Z-Bajonetts ermöglicht es dem NIKKOR-Z-Objektiv, in jedem Winkel des Bildfelds mehr Licht einzufangen. Das Ergebnis ist eine unglaubliche Detailtreue – bis in die Bildecken.'

    - title: Bajonettadapter FTZ
      id: Bajonettadapter
      content: "Mit dem Bajonettadapter FTZ können Fotografen das Potenzial Ihrer Objektive mit F-Bajonettanschluss voll ausschöpfen – sei es beim Fotografieren oder für die Videografie.  Es gibt keinerlei Einbußen bei der Abbildungsleistung.  Mit NIKKOR-Objektiven ohne Bildstabilisator (VR) erreichen Sie sogar ein neues Niveau von Schärfe. „Ich war wirklich überrascht, wie einfach die Nutzung meiner F-Mount-Lieblingsobjektive an der neuen Kamera ist. Ich konnte keinerlei Einbußen feststellen, vor allem der Autofokus funktioniert einwandfrei“, berichtet André. "

    - title: AF-S NIKKOR 24-70 mm 1:2,8E ED VR
      id: NIKKOR-24-70
      content: 'Dieses Objektiv ist bei André immer mit dabei, denn mit seiner erstklassigen Bildqualität genügt das AF-S NIKKOR 24-70 mm 1:2,8E ED VR professionellen Ansprüchen in allen Belangen. „Mit dem Brennweitenbereich 24–70 mm kann ich vom Weitwinkel bis zum leichten Tele nahezu jeden Motivtyp aus der Hand schießen. Außerdem möchte ich die hohe Lichtstärke von 1:2,8 wirklich nicht mehr missen, denn damit gelingen mir auch starke Aufnahmen zu den frühen Morgen- oder späten Abendstunden.“'

    - title: AF-S NIKKOR 70–200 mm 1:2,8E FL ED VR
      id: NIKKOR-70–200
      content: '„Auch das AF-S NIKKOR 70–200 mm 1:2,8E FL ED VR gehört zu meinen Favoriten! Es bietet mir einen noch größeren Zoombereich als das AF-S NIKKOR 24-70 mm 1:2,8E ED VR und dadurch noch mehr Flexibilität auf meinen Reisen. Mit diesem Zoombereich sind mir die Bärenaufnahmen in tokyo gelungen. Schön versteckt im Gebüsch, konnte ich aus sicherer Distanz die Bären beobachten und fotografieren. Auch bei diesem Objektiv ist für mich die hohe Lichtstärke von 1:2,8 das entscheidende Kriterium für einen Platz in meinem Foto-Rucksack.“'

    - title: AF-S DX NIKKOR 16–80 mm 1:2,8–4E ED VR
      id: NIKKOR-16–80
      content: 'Für den kleineren Geldbeuten: Das leistungsstarke DX-Zoomobjektiv ist ein idealer Allrounder. Der große Brennweitenbereich von 16 bis 80 mm (entspricht bei FX-Format 24 bis 120 mm) deckt vom Weitwinkel bis zum Tele mit Leichtigkeit die meisten Aufnahmesituationen ab: Machen Sie beeindruckende Landschaftsaufnahmen oder individuelle Porträts. Die Lichtstärke von 1:2,8 bis 1:4 und die kompakte Bauweise machen es zu einem idealen Begleiter für DX-Kameras. Der eingebaute Bildstabilisator sorgt auch bei längeren Belichtungszeiten für verwacklungsfreie Aufnahmen – für jede Situation auf eurem nächsten Trip.'





---



<div class="bg--black bv-parallax" style="background-image: url({{site.img}}/content/nikon/Nikon_ml_z7_overview.jpg);  background-size:100%; background-color:#000;">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>



<!-- VIDEO SECTION -->


  <div class="bg--black">
    <div class="harvey">

      <a href="javascript:void(0);"  data-modal-item="{{page.id}}-video" class="harvey__img js-open-modal journey__video" style="background-image: url({{site.img}}/content/promo-nikon-max.jpg);" >
        <span class="bg-img__play bg-img--zoom"></span>
      </a>

      <div class="harvey__text text--left ">
        <h3 class="title title--md text--bold bv-divider">{{page.camera.model}}</h3>
        <p class="text--lg">{{page.camera.description}}</p>
        <div class="space--md"></div>
        <a href="https://goo.gl/RF1cxe"  class=" btn btn--yellow" target="_blank">Mehr erfahren</a>
      </div>

    </div>
  </div>



<!-- LENS SECTION -->


  <div class="wp " id="{{section.id}}"></div>

  <div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/{{page.section.id}}.jpg); background-repeat:no-repeat; background-size:cover; background-position: center;">
    <div class="space--xl"></div>
    <div class="wp" id="guide"></div>
    <div class="container vpad--xxl text--center">
      <h3 class="title title--md text--bold bv-divider">{{page.section.title}}</h3>

      {{page.section.intro}}
    </div>
    <div class="bv-arrow"></div>
    <div class="space--xxxl"></div>
  </div>

<div class="bg--black ">
  <div class="container vpad--xs ">
    <div class="vpad--sm" >
      <div class="row row--xl-6-6 row--xxl-4-4-4 row--gutters--xs">
        {% for lenses in page.lenses %}

        <div class="col">
          <div class="bg-img bg-img--3-2 bg--white" style="background-image:url({{site.img}}/content/{{page.id}}/lenses/{{lenses.id}}.png); "></div>
          <div class="space--sm"></div>
          <h5 class="title title--xxs text--bold">{{lenses.title}}</h5>
          <p>{{lenses.content}}</p>
        </div>

          {% endfor %}
      </div>
    </div>
  </div>
  <div class="space--xl"></div>
</div>


{% include page/promo-competition.html %}
