<div class="offer offer--dark">

  <a class="offer__link" href="{{offer.link}}" target="_blank"><span class="btn btn--vf-blue">Angebot Ansehen</span></a>

  <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/offers/{{offer.id}}.jpg')">
  {% if offer.flight-tag %}
    <img class="flight-tag" src="{{site.img}}/icons/flights-incl.png" alt="FLÜGE INKLUSIVE">
  {% endif %}
  {% if offer.exclusive-tag %}
    <img class="flight-tag" src="{{site.img}}/icons/exclusive.png" alt="Exklusives Angebot">
  {% endif %}
  </div>

  <div class="offer__content">

    <h3 class="title title--xs">{{offer.title}}</h3>
    <h4 class="offer__location">{{offer.location}}</h4>
    <div class="offer__description">{{offer.description}}</div>

    <div class="offer__bottom">

      <div class="offer__bottom-left">

        <div class="offer__saved">
          <div class="offer__saved-label">Sparen Sie bis zu</div>
          <div class="offer__saved-percent text text--lg text--bolder ">{{offer.saved}}%</div>
        </div>

        <div class="offer__separator"></div>

        <div class="offer__details">
          <div>Ab <span class="offer__price">{{offer.price}} €</span></div>

          <div class="text--md">{{offer.price-description}}</div>

        </div>

      </div>
      <div class="offer__bottom-right">
        <div class="offer__arrow"></div>
      </div>

    </div>

  </div>

</div>
