---
layout: default
---
{% assign page-photos = site.data[page.id] %}



<!-- INTRO SECTION -->

<div class="bg--grey-darker">
  <div class="wp" id="guide"></div>
  <div class="container text--lg vpad--xxl text--center">
    {{page.intro.long}}
    {{page.intro.partner-logo.logo}}
    <br>
    {% for partner-logo in page.intro.partner-logos %}

    <a href="{{partner-logo.link}}" target="_blank">  <img style="height:75px; padding:10px;" src="{{site.img}}/content/{{page.id}}/{{partner-logo.logo}}"></a>

    {% endfor %}

  </div>
  {% if page.page-nav %}{% include nav/page.html %}{% endif %}
</div>







<!-- JOURNEY -->


{% for section in page.sections %}

<div class="wp" id="{{section.id}}"></div>

<div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;">
  <div class="space--xl"></div>
  <div class="wp" id="guide"></div>
  <div class="container vpad--xxl text--center">
      <h3 class="title title--xl text--bold bv-divider">{{section.title}}</h3>
    {{section.intro}}
  </div>
  <div class="bv-arrow"></div>
  <div class="space--xxxl"></div>
</div>


<div class="container vpad--xs">
  <div class="vpad--sm" style="{{section.pois1.visible}}">

    <div class="space--lg"></div>
    <div class="row row--4-4-4 row--gutters">
          {% for poi in section.pois1.items %}

          <div class="col">
            <a href="javascript:void(0);" data-modal-item="{{poi.id}}" data-modal-group="section" class="js-open-modal bg-img bg-img--4-3" style="background-image:url({{site.img}}/content/{{page.id}}/photos/{{poi.id}}.jpg);">
            <span class="bg-img__expand"></span></a>
            <div class="space--md"></div>
            <h5 class="title title--xxs text--bold">{{poi.title}}</h5>
            <p>{{poi.content}}</p>
          </div>


          {% endfor %}
    </div>
    <div class="space--sm"></div>
  </div>
</div>

<div class="space--xl"></div>


{% endfor %}






{% include page/promo-competition.html %}
